<%= link_to 'Back', employees_path, class:"btn btn-dark text-white" %>

<div class="card my-1">
    <div class="card-header bg-dark text-white">
        <h1>Employee Edit</h1>
    </div>
    <div class="card-body">
        <%= render 'form', employee: @employee %>
    </div>
</div>
